<!DOCTYPE html>
<html lang="en" class="bg-gray-900">
<head>
    {% with title="New Room" %}
        {% include('partials/meta.html') %}
    {% endwith %}
    {% include('partials/css.html') %}
    {% include('partials/js.html') %}
</head>
<body>
{% include('partials/header.html', { 'user': user }) %}

<div class="container mx-auto h-full">
    <div class="flex flex-wrap">
        <div class="w-full">
            <div class="flex flex-row justify-center items-center p-4 h-full">
                <div class="p-4">
                    <h1 class="text-5xl font-bold">
                        <span class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 to-blue-500 stinger">New Room</span>
                    </h1>

                    <!-- New Room form -->
                    <div class="mt-4">
                        <label for="name" class="block text-gray-200 font-medium paralucent">Room Name</label>
                        <input type="text" id="name" name="name" placeholder="Room Name" required
                               class="paralucent w-full p-2 rounded-lg bg-gray-800 text-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500">
                        <div class="flex justify-center items-center mt-4">
                            <button onclick="handleNewRoom()">
                                <!-- Green to blue gradient -->
                                <div class="bg-gradient-to-r from-green-400 to-blue-500 rounded-full p-[2px]">
                                    <div class="bg-gray-900 px-6 py-0.5 rounded-full">
                                        <!-- Use gradient for text color -->
                                        <div class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 to-blue-500 font-bold paralucent">
                                            Create Room
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function handleNewRoom() {
        const name = document.getElementById('name').value;

        const data = {
            name: name
        };

        fetch('/api/rooms/new', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data),
        }).then(res => res.json()).then(data => {
            if (data.success) {
                successNotification("Room created successfully! Redirecting you to the room...");
                setTimeout(() => {
                    window.location.href = `/room/${data.room_id}`;
                }, 3000);
            } else {
                errorNotification("An error occurred while creating the room. Please try again later.");
                errorNotification(data.error);
            }
        }).catch(err => {
            errorNotification("An error occurred while creating the room. Please try again later.");
            errorNotification(err);
        });
    }
</script>
</body>
</html>
